@media screen and (max-width: 576px) {
  .menuGrid {
    // Immutable
    position: fixed;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    z-index: var(--slide-menu-z-index);

    // Backdrop Stuff
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 500ms;

    // Display stuff
    display: grid;
    grid-template: "menu backdrop" 100vh / auto calc(100vw - var(--slide-menu-visible-area, 0px));

    .menuContainer {
      grid-area: menu;
      scroll-snap-align: center;
      height: 100%;

      .menuContent {
        height: 100%;
        max-width: 100vw;
        overflow: auto;
        scrollbar-width: none;
      }
    }

    .backdrop {
      grid-area: backdrop;
      height: 0.1px;
      width: 100%;
      opacity: 0.01;
      scroll-snap-align: center;
    }
  }
}
