:root {
  --slide-menu-z-index: 2000;
  --slide-menu-sensible-area: 4rem;
  --shifting-trnsformation: translateX(calc(-100% + var(--slide-menu-sensible-area)));
}

@media screen and (max-width: 576px) {
  .slideMenu {
    position: fixed;
    height: 100vh;
    max-width: 100vw;
    z-index: 2000;
    box-sizing: content-box;

    transform: var(--shifting-trnsformation);

    // display things
    display: grid;
    grid-template: "menu sensibleArea" 100vh / auto var(--slide-menu-sensible-area);

    .menuContainer {
      grid-area: menu;
      height: 100%;
      overflow: auto;
      max-width: calc(100vw - var(--slide-menu-sensible-area));
      scrollbar-width: none;
    }

    .sensibleArea {
      grid-area: sensibleArea;
      background-color: green;
    }
  }
}
