:root {
  --slide-menu-z-index: 2000;
  --slide-menu-sensible-area: 4rem;
  --slide-menu-sensible-area-offset: 1rem;
  --shifting-transformation: translateX(-100%);
  --initial-x-position: none;
  --initial-y-position: none;
  --sensible-area-top: none;
  --sensible-area-bottom: none;
  --sensible-area-left: none;
  --sensible-area-right: none;
}

@media screen and (max-width: 576px) {
  .slideMenu {
    position: fixed;
    z-index: 2000;
    box-sizing: content-box;

    right: var(--initial-x-position);
    bottom: var(--initial-y-position);
    transform: var(--shifting-transformation);

    // display things
    display: grid;
    grid-template: "menu" 100vh / auto;

    .menuContainer {
      grid-area: menu;
      overflow: auto;
      scrollbar-width: none;
    }

    .sensibleArea {
      position: absolute;
      background-color: rgba(255, 0, 0, 0.5);
      height: 100%;
      width: var(--slide-menu-sensible-area);
      touch-action: none;

      // positioning
      top: var(--sensible-area-top);
      right: var(--sensible-area-right);
      bottom: var(--sensible-area-bottom);
      left: var(--sensible-area-left);
    }
  }
}
